.cover__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  background: rgb(42, 44, 47, 0.3);
}
.cover__link::after {
  content:  "";
  width: 0;
  height: 0;
  margin-left: -1px;
  padding-top: calc(740/1184*100%)
}

.cover__link:hover {
  background: rgb(42, 44, 47, 0.8);
  transition: ease-out 0.5s;
}
