.header__lang-link_language_en {
  margin-left: 18px;
}

.header__lang-link_language_en:hover {
  opacity: 0.3;
  transition: ease-out 0.5s;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link_language_en {
    font-size: 18px;
    line-height: 20px;
  }
}
