.photo-grid {
  display: grid;
  margin: 92px auto 0px auto;
  max-width: 1184px;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  list-style-type: none;
  justify-items: center;
}
@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 88px;
    min-width: 720px;
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 64px;
    max-width: 720px;
    min-width: 288px;
  }
}

