.place__paragraph {
  display: flex;
  max-width: 484px;
  margin: 0px 0px 26px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 352px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}
