.place__website {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-self: end;
}




@media screen and (max-width: 1023px) {
  .place__website {
    margin-left: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    align-self: flex-start;
    margin-left: 16px;
    margin-top: 32px;
  }
}
